acme==2.7.4
awscli @ file:///home/conda/feedstock_root/build_artifacts/awscli_1700167338255/work
awscrt @ file:///home/conda/feedstock_root/build_artifacts/awscrt_1699988935008/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
certbot==2.7.4
certbot-apache==2.7.4
certifi==2023.7.22
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001684923/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///croot/click_1698129812380/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
ConfigArgParse==1.7
configobj==5.0.8
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1699041363598/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1681508581703/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dill==0.3.7
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1675116244235/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1666754874910/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
Flask @ file:///croot/flask_1671217343254/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1700143052437/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808654411/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
josepy==1.14.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1698868520350/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1695290862901/work/dist/numpy-1.26.0-cp310-cp310-linux_x86_64.whl#sha256=44509c98ccedaff13cf312f80a8e392a35d5f649bdf63f1b7e705fdfdc621c6d
opencv-python==4.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1699670119051/work
parsedatetime==2.6
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
Pillow @ file:///croot/pillow_1696580024257/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1695367094274/work
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1666774466606/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
pyRFC3339==1.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-augeas==1.1.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1678272977710/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1695996839082/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1696467628975/work/dist/scipy-1.11.3-cp310-cp310-linux_x86_64.whl#sha256=1a1f6f0b1d49eca3673dad934971d667767456b5f7effcaf9f07cdd3ba377c95
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1696262444380/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1697191502852/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1696548122882/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
ultralytics @ file:///home/conda/feedstock_root/build_artifacts/ultralytics_1700148409238/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1697813446430/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1699959196938/work
Werkzeug @ file:///croot/werkzeug_1679489717957/work
